

/* this shit is all just for centering the icons on the bar on the left please lord help me*/
.main-yourLibraryX-navItems {
  padding: 8px 10px !important;
}

#spicetify-show-list {
  padding: 8px 10px !important;
  padding-bottom: 0px !important;
}

.main-yourLibraryX-header {
  padding: 8px 14px;
  padding-top: 0px;
}
/*end of centering*/

/*adding borders to everything*/

/*the bars on the left*/
.main-yourLibraryX-entryPoints {
  border: 2px solid var(--spice-misc);
  border-radius: 10px;
  padding-top: 10px; /* To fix the create button being too close to the top border */
  z-index: 9999;
}

/*the bars on the right*/
.Root__right-sidebar {
  border: 2px solid var(--spice-misc);
  border-radius: 10px;
  z-index: 9999;
  overflow: hidden; /* To fix border corners being overlapped */
}

/* Music video borders*/

.bdT2hWuSLE4HMyJ1ziC8 .Box__BoxComponent-sc-y4nds-0 { /* I have no faith that this will stay working for very long */
  border: 2px solid var(--spice-misc);
  border-radius: 10px;
  z-index: 9999;
  margin: 5px;  /* To add space between music video borders */
}

/*the bottom bar*/
.Root__now-playing-bar {
  outline: 2px solid var(--spice-misc);
  border-radius: 11px;
  z-index: 9999;
  background-color: var(--spice-main);
}

/*borders on all the cards*/
.main-card-card {
  border: 2px solid var(--spice-misc);
  border-radius: 10px;
}


/*shortcuts that show up on the homepage for your most played or whatever.. borders for everything yay!!!*/
.view-homeShortcutsGrid-shortcutLink {
  border: 2px solid var(--spice-misc);
}

.view-homeShortcutsGrid-shortcut .view-homeShortcutsGrid-image {
    padding: 2px;
}

.view-homeShortcutsGrid-shortcut .view-homeShortcutsGrid-imageWrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
}

/*context menus (this was hell to get!!)*/
.main-contextMenu-menu {
  border: 2px solid var(--spice-misc);
  border-radius: 10px;
  background-color: var(--spice-main);
}

/*main view*/
.Root__main-view {
  border: 2px solid var(--spice-misc);
  border-radius: 10px;
}

/* now playing */
.main-buddyFeed-container {
  border: 2px var(--spice-misc) solid;
  border-radius: 10px;
}


/*margin adjustments for the now playing bar*/
.Button-sm-16-buttonTertiary-iconOnly-isUsingKeyboard-useBrowserDefaultFocusStyle {
  margin-right: 10px;
}

/*dont know the purpose, afraid to get rid of :3*/
.main-trackList-trackListRow.main-trackList-trackListRowGrid {
  border-radius: 10px;
  will-change: background-color;
}

/*dont know the purpose, also afraid to get rid of :3*/
.os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle { border-radius: 4px; width: 6px; background-color: var(--spice-button-disabled); } .os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track { width: 6px; }

/*padding adjustments for playlists on left bar*/
.BoxComponent-group-naked-listRow-isInteractive-hasLeadingOrMedia-paddingBlockStart_8px-paddingBlockEnd_8px-minBlockSize_56px-padding_8px {
  padding: 6px;  
}

/*makes the main view border work, theres an element blocking the border that this makes smaller*/
.Root__top-bar {
  margin: 2px;
}

/*makes the connect bar appear nicely with the border on the bar*/
.main-connectBar-connectBar {
  border-radius: 0px 0px 10px 10px;
}

/*play button centering*/
.player-controls__buttons {
  margin-bottom: 6px;
  margin-left: 5px;
}

/*new shitty ui uhhhh.. if any of these look bad blame spotify*/

/* custom apps & home buttons */
.Button-buttonTertiary-medium-iconOnly-useBrowserDefaultFocusStyle
{
  border: 2px solid var(--spice-misc);
}

.search-searchCategory-contentArea {
  overflow: visible;
}

/*search bar*/
.main-topBar-searchBar {
  border: 2px solid var(--spice-misc);
}

/*notif & friends buttons*/
.Button-buttonTertiary-small-useBrowserDefaultFocusStyle-condensedAll {
border: 2px solid var(--spice-misc);
}

/*profile button*/
.Button-buttonTertiary-textBase-medium-useBrowserDefaultFocusStyle-condensedAll {
border: 2px solid var(--spice-misc);  
}

/*library and add to liked songs button*/
.main-useDropTarget-folder, .hhFdIYRyHsqlCHy7T_8A {
  border: unset;
}

/*new cards. might break things, who knows really*/
.main-card-cardContainer {
  border: 2px solid var(--spice-misc);
  margin: 5px; /* Add space between card borders */
}

/*fix colors*/
.encore-dark-theme {
    --background-elevated-base: var(--spice-card);
}

/*colors and transitions for buttons on top navbar <3*/
.Button-small-small-buttonTertiary-condensedAll-useBrowserDefaultFocusStyle {
  background-color: var(--spice-card);
  transition: ease-in 500ms;
}

.Button-small-small-buttonTertiary-condensedAll-useBrowserDefaultFocusStyle:hover {
  background-color: var(--spice-tab-active);
  transition: ease-in 500ms;
}

.Button-medium-medium-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle {
  transition: 500ms;
}

.Button-medium-medium-buttonTertiary-iconOnly-useBrowserDefaultFocusStyle:hover {
  transition: ease-in 500ms;
  background-color: var(--spice-tab-active);
}

.main-userWidget-box {
  transition: ease-in 500ms;
}

.main-userWidget-box:hover {
  transition: ease-in 500ms;
  background-color: var(--spice-tab-active);
}

.main-globalNav-searchInputContainer:hover .SFAoASy0S_LZJmYZ3Fh9 {
  background-color: var(--spice-tab-active);
}